.header {
    height: 37vw;
    margin: 5px auto;
    background: url('/header_img.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 25%;
    left: 6vw;
    animation: fadeIn 5s;
}

.header-content h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-content p {
    color: white;
    font-size: 1.2vw;
}

.header-content button {
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border:none;
    border-radius: 25px;
}

@media (max-width:1050px){
    .header{
        width: 75%;
    }

    .header-content{
        max-width: 45%;
    }
}

@media (max-width:750px){
    .header{
       width: 55%;
    }

    .header-content{
        max-width: 55%;
    }

    .header-content p{
        display: none;
    }

    .header-content button{
        padding: 2vw 4vw;
    }
}