.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 50px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left span {
    color: red;
    font-size: 35px;
    font-weight: 700;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-center h2,
.footer-content-right h2 {
    color: white;
}

.footer-social-icons img {
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-social-icons img:hover{
    transform: scale(1.05);
    border:4px solid rgb(252, 224, 224);
    border-radius: 50px;
    box-shadow: 0px 0px 10px white;
}

.footer hr{
    width: 90%;
    height: 1px;
   background-color:rgb(181, 181, 181);
}